
body {
    background: url(images/back.jpg) no-repeat;
    
    background-size: cover;
    min-height: 100vh;
  }
  
 .secondimg{
  background: url(https://media1.tenor.com/images/b1b118ed130d9ab085e475ab0ecadcb6/tenor.gif?itemid=15826314) no-repeat center;
  background-size: cover;
 }

 

 .third{
  background: url(https://media2.giphy.com/media/3oKIPpFhwsMNrRIjN6/giphy.gif) no-repeat center;
  background-size: cover;
 }